doctype html
html
    head
        title This is MagicApp
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container
            h1.container-header This is MagicApp
            p.container-description Aplications is lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, in! Tenetur veritatis vel illo dolor qui molestias natus aliquam quibusdam quo nemo?
            a.login-button(href='/auth/google') Log in using Google 