doctype html
html
    head
        title #{user.displayName}
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container.info(onClick='return window.history.go(-1)')
            p Name: #[span.info-user_name  #{user.displayName}]
            p email: #[span.info-user_email #{user.emails[0].value}]
            p Gender:  
                if (user.gender === 'male')
                    img.info-user_gender(src='/static/img/male.png')
                else if(user.gender === 'female')
                    img.info-user_gender(src='/static/img/female.png')
                else
                    | unknown
            img.info-user_image(src=user.photos[0].value.slice(0,-2)+'250')    