doctype html
html
    head
        title Welcome to MagicApp
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container
            h1.container-header Welcome to MagicApp
            a(href='/info')
                img.container-user_image(src=user.photos[0].value.slice(0,-2)+'250')
            p.container-description #[img.success_image(src='/static/img/success-icon.png')] Thank You, #[span.container-user_name #{user.name.givenName}!] You have succesfull log in to #[strong MagicApp.] 
            
            a.logout-button(href='/logout') Log out!